- each task in tasks
    - var klass= ((task.checked) ? 'list-item tsklist-itm checked' : 'list-item tsklist-itm')
    a(class=klass, data-classID=task.classID, data-taskID=task.id, href="#class/#{task.classID}/task/#{task.id}")
        .tsklist-itm-box
        .tsklist-itm-text
            .tsklist-itm-name= task.taskName
            .tsklist-itm-subtext= task.subtext
        .tsklist-itm-tag(class="color"+task.classID)= task.shortName
